<!DOCTYPE html>
<html>
<head>
  
  <link rel="Shorcut icon" href="/assets/favicon.ico" />  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- OWN METAS -->
  <title>Alphadeville</title>  
  <meta name="description" content="We can build anything you can imagine on Internet (only if its legal)" />
  <meta name="keywords" content="Software, Graphic, Design, Web, Books, Applications, Development, Engineering" />
  <meta name="publisher" content="Alphadeville">
  <meta name="author" content="Alphadeville" />   
  
  <!-- FACEBOOK -->
  <meta property="og:title" content="Alphadeville" />
  <meta property="og:description" content="We can build anything you can imagine on Internet (only if its legal)" />
  <meta property="og:site_name" content="Alphadeville" />
  <meta property="og:url" content="<%= root_url %>" />  
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= "#{root_url}assets/logo/mini-logo-reverse-fb.png" %>" />    
  
  <!-- TWITTER -->
  <meta name="twitter:card" content="summary">  
  <meta name="twitter:site" content="@alphadeville">
  <meta name="twitter:creator" content="@alphadeville">  
  <meta name="twitter:url" content="<%= root_url %>">
  <meta name="twitter:title" content="Alphadeville">
  <meta name="twitter:description" content="We can build anything you can imagine on Internet (only if its legal)">
  <meta name="twitter:image" content="<%= "#{root_url}assets/logo/mini-logo-reverse-tw.png" %>">

</head>
<body>

<%= yield %>

</body>
</html>
