<!DOCTYPE html>
<html>
<head>
  
  <link rel="Shorcut icon" href="/assets/favicon.ico" />  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- OWN METAS -->
  <title>Alphadeville</title>  
  <meta name="description" content="We can build anything you can imagine on Internet (only if its legal)" />
  <meta name="keywords" content="Software, Graphic, Design, Web, Books, Applications, Development, Engineering" />
  <meta name="publisher" content="Alphadeville">
  <meta name="author" content="Alphadeville" />
  <meta name="google-site-verification" content="mzEAyJew3lo5FC6xMjaAEtz5OkIb3u5EDAWIUS4Uvcc" />   
  
  <!-- FACEBOOK -->
  <meta property="og:title" content="Alphadeville" />
  <meta property="og:description" content="We can build anything you can imagine on Internet (only if its legal)" />
  <meta property="og:site_name" content="Alphadeville" />
  <meta property="og:url" content="<%= root_url %>" />  
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= "#{root_url}assets/logo/mini-logo-reverse-fb.png" %>" />    
  
  <!-- TWITTER -->
  <meta name="twitter:card" content="summary">  
  <meta name="twitter:site" content="@alphadeville">
  <meta name="twitter:creator" content="@alphadeville">  
  <meta name="twitter:url" content="<%= root_url %>">
  <meta name="twitter:title" content="Alphadeville">
  <meta name="twitter:description" content="We can build anything you can imagine on Internet (only if its legal)">
  <meta name="twitter:image" content="<%= "#{root_url}assets/logo/mini-logo-reverse-tw.png" %>">

  <link rel="stylesheet" href="http://cache.addthiscdn.com/icons/v1/sprites/services.css" type="text/css"/>
</head>
<body>

  <%= yield %>

  <script type="text/javascript">
    // GOOGLE ANALYTICS  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36211934-1']);
    _gaq.push(['_setDomainName', 'alphadeville.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
